In [2]:
#1330번 두 수 비교하기
a,b = map(int,input().split())
if a > b :
  print('>')
elif a == b:
  print('==')
else:
  print('<')

1 2
<

In [3]:
#9498번 시험 성적
score = int(input())
if score>=90 and score<=100:
  print('A')
elif score>=80 and score<=89:
  print('B')
elif score>=70 and score<=79:
  print('C')
elif score>=60 and score<=69:
  print('D')
else:
  print('F')

100
A

In [13]:
#2753번 윤년
year = int(input())

if (year%4 == 0 and  year%100 != 0) or ( year%400 == 0  ):
  print(1)
else:
    print(0)

2000
1

In [16]:
#14681번 사분면 고르기

x = int(input())
y = int(input())

if x>0 and y>0:
  print(1)
elif x<0 and y>0:
  print(2)
elif x<0 and y<0:
  print(3)
elif x>0 and y<0:
  print(4)

9
-13
4

In [26]:
# 2884번 알람 시계
# H,M = map(int,input().split())


# if M <45:
#   if H==0:
#     H=23
#     M+=60
#   else:
#     H-=1
#     M+=60
# print(H,M-45)


H,M = map(int,input().split())

if M>44:
  print(H,M-45)
elif H>=1 and M<45:
  print(H-1,M+15)
else:
  print(23,M+15)

0 30
23 45